/* inicio contacto */
.container{
  border-style: none ;
  display: flex;
  /* align-content: space-between; */
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: #05b905; */
  

}
.box{
 margin: 3%;
 width: 50%;
 align-items: auto;
 flex-direction: row;
 flex-wrap: nowrap;
 background-color: rgb(88, 43, 195);
  }

.izquierda{
margin: 2%;
color: white;
}

.derecha{
  color: rgb(18, 4, 50);
  margin: 2%;
  margin-top: 2%;
  /* color: white; */
 }
.formulario label {
    vertical-align: top;
    width: 50%;
    display: inline-block;
    color: rgb(18, 4, 50);
  } 

 .formulario textarea {
    resize: none;
    height: 5em;
    color: rgb(18, 4, 50);
  }

  /* .formulario .acciones {
    text-align: center;
  }  */
 .boton{
   color: rgb(18, 4, 50);
   background-color: #05b905;
 }
 h2{
   color:white ;
   font-style: italic;
   text-align: center;
   color: rgb(18, 4, 50);
 }
  
 h2 p ul{
  font-family: "Raleway",sans-serif;
  color: rgb(18, 4, 50);
 }
 ul{
   list-style: none;
 }
 