h2 {
    /* color: #09121d; */
    font-weight: 400;
    margin: 0 0 1em;
    font-family: "Raleway",sans-serif;
  }
  
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .homeimg {
    margin-bottom: 1.5em;
    size: small;
  }
  .columnas {
    overflow: hidden;
    /* background-color: aqua; */
  }
  
  .bienvenidos,
  .testimonios {
    box-sizing: border-box;
  }
  .bienvenidos {
    width: 65%;
    padding-right: 2em;
  }
  .testimonios {
    width: 35%;
  }
  .testimonio {
    background-color: rgb(88, 43, 195);
    padding: 0.5em;
    color: white;
    font-family: "Raleway",sans-serif;
  
  }
  .testimonio,
  .cita {
    font-weight:lighter;
    font-style: italic;
    font-size: 2em;
    display: block;
    font-family: "Raleway",sans-serif;
  }
  .testimonio,
  .autor {
    font-size: 0.9em;
    text-align: center;
    margin: 1em 0;
    display: block;
    font-family: "Raleway",sans-serif;
  }
  /* fin zona home */
  
  .columnas {
   
    box-sizing: border-box;
    /* background-color: aqua; */
  }
  .parrafo{
      text-align: justify;
  }
