/* inicio  zona nosotros */
.historia {
    font-size: 1em;
  }
  
  .staff{
    padding-top: 30px;
  }
  .personas {
    overflow: hidden;
    }
  
  .persona {
    width:30%;
    height: 300px;
    border: 1px solid gray;
    border-radius: 0.25em;
    float: left;
    margin-left: 2.25%;
    box-sizing: border-box;
    text-align: center;
  }
  .persona img {
    border-radius: 35%;
    box-shadow: 2px solid green;
    margin: 0.8em 0 1em;
    max-width: 70%;
    height: 150px;
    align-items: center;
  
  }
  .persona h5,
  .persona h6 {
    text-align: center;
    font-weight: normal;
    color: #09121d;
    margin: 0;
  }
  .persona h5 {
    font-size: 0.9em;
  }
  .persona h6 {
    font-size: 0.8em;
    font-style: italic;
  }
  .persona p {
    font-size: 0.7em;
    color: #444;
    margin: 0 1em 1em;
  }
  .persona:first-child {
    margin-left: 0;
  }
  
  /* fin zona nosotros */
  /* inicio galeria */

 .foto {
  float: left;
  width: 20%;
  margin: 1em 0 1em 2.5%;
  border: 1px solid rgb(10, 54, 6);
  padding: 0.3em;
  box-sizing:border-box;
    
}


.foto:nth-child(5n + 1) {
  margin-left: 0;
}

.fotopic{
  height: 200px;
  text-align: center;
  padding-top: 10%;
}


/* fin galeria */